# ts_loto_feature_system 運用ノート（実行＆確認集）

このノートブックは、PostgreSQLの接続確認・テーブル点検・特徴量生成スクリプトの実行・結果検証を一式で行える「運用ノート」です。  
**想定配置**: プロジェクト直下（`loto_feature_system_v2/` のルート）で実行。

---

## 収録内容（ざっくり）
- 依存関係（必要に応じて）インストール
- プロジェクトルート／`PYTHONPATH` 設定
- `config/db_config.yaml` からDB接続情報を取得（なければ環境変数を利用）
- 接続スモークテスト（DBバージョンなど）
- `features_hist` / `features_futr` / `features_stat` の列数・行数・サンプル表示・簡易品質確認（重複/欠損）
- `scripts/generate_features_simple.py` の実行（再生成）
- 再度の点検・サンプルCSVエクスポート

> **注意**: パスワードを平文で扱いたくない場合は `.pgpass` を使用してください（ノート内の説明参照）。

## 0) 依存関係（必要に応じて）
すでに環境が整っている場合は **このセルはスキップ** してください。

In [ ]:
# %%capture
# 必要な場合のみ実行してください（ネットワークに出られる環境前提）。
# %pip install SQLAlchemy psycopg2-binary PyYAML pandas tqdm
# %pip install ipython-sql
print("依存関係のインストールはスキップ可能です。")

## 1) プロジェクトルートとモジュールパス設定
ノートブックをプロジェクト直下で開いていない場合は、`PROJECT_ROOT` を適宜書き換えてください。

In [1]:
from pathlib import Path
import os, sys, warnings
warnings.filterwarnings("ignore")

# プロジェクトのルート推定（このノートを置く位置に応じて調整）
PROJECT_ROOT = Path(os.getcwd())  # ルートで開いていればそのままでOK
# 例: PROJECT_ROOT = Path("/mnt/e/env/ts/loto_feature_system_v2")

print("PROJECT_ROOT =", PROJECT_ROOT)

# src を import path に追加
src_path = PROJECT_ROOT / "src"
if str(src_path) not in sys.path:
    sys.path.insert(0, str(src_path))
print("sys.path に追加:", src_path.exists(), src_path)

PROJECT_ROOT = /mnt/e/env/ts/loto_feature_system_v2
sys.path に追加: True /mnt/e/env/ts/loto_feature_system_v2/src

## 2) DB接続パラメータの読込（YAML → 環境変数 fallback）

In [2]:
import os, yaml, json
from pathlib import Path

def load_db_config(project_root: Path):
    # config/db_config.yaml を優先的に読み込み、
    # 無ければ環境変数（PGHOST, PGPORT, PGDATABASE, PGUSER, PGPASSWORD）を参照。
    cfg_path = project_root / "config" / "db_config.yaml"
    cfg = {}
    if cfg_path.exists():
        with open(cfg_path, "r", encoding="utf-8") as f:
            raw = yaml.safe_load(f) or {}
        cfg = {
            "host": str(raw.get("host", os.getenv("PGHOST", "localhost"))),
            "port": int(raw.get("port", os.getenv("PGPORT", 5432))),
            "database": str(raw.get("database", os.getenv("PGDATABASE", "postgres"))),
            "user": str(raw.get("user", os.getenv("PGUSER", "postgres"))),
            "password": str(raw.get("password", os.getenv("PGPASSWORD", ""))),
        }
        cfg["source"] = f"YAML: {cfg_path}"
    else:
        cfg = {
            "host": os.getenv("PGHOST", "localhost"),
            "port": int(os.getenv("PGPORT", 5432)),
            "database": os.getenv("PGDATABASE", "postgres"),
            "user": os.getenv("PGUSER", "postgres"),
            "password": os.getenv("PGPASSWORD", ""),
            "source": "ENV",
        }
    return cfg

db_cfg = load_db_config(PROJECT_ROOT)

def mask(pwd: str) -> str:
    if not pwd:
        return "(empty)"
    return pwd[:2] + "*" * max(0, len(pwd) - 2)

print("DB設定（", db_cfg.get("source"), "から読込）")
print(json.dumps({k: (mask(v) if k=="password" else v) for k,v in db_cfg.items() if k != "source"}, ensure_ascii=False, indent=2))

DB設定（ YAML: /mnt/e/env/ts/loto_feature_system_v2/config/db_config.yaml から読込）
{
  "host": "localhost",
  "port": 5432,
  "database": "postgres",
  "user": "postgres",
  "password": "z"
}

## 3) SQLAlchemy エンジン作成＆スモークテスト

In [3]:
from sqlalchemy import create_engine, text
import pandas as pd

# DSN 作成
dsn = f"postgresql+psycopg2://{db_cfg['user']}:{db_cfg['password']}@{db_cfg['host']}:{db_cfg['port']}/{db_cfg['database']}"
engine = create_engine(dsn, pool_pre_ping=True, future=True)
print("Engine 作成:", engine)

with engine.begin() as con:
    v = con.execute(text("SELECT version()")).scalar()
    who = con.execute(text("SELECT current_user")).scalar()
    dbn = con.execute(text("SELECT current_database()")).scalar()
    print("version  :", v)
    print("user/db  :", who, "/", dbn)

Engine 作成: Engine(postgresql+psycopg2://postgres:***@localhost:5432/postgres)
version  : PostgreSQL 17.6 (Ubuntu 17.6-1build1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 15.2.0-2ubuntu2) 15.2.0, 64-bit
user/db  : postgres / postgres

## 4) テーブル構成のざっくり確認（列数・推定行数）

In [4]:
from sqlalchemy import text

tables = ["features_hist", "features_futr", "features_stat"]

q = text("""
SELECT 
    table_name,
    (SELECT COUNT(*) FROM information_schema.columns c WHERE c.table_name = t.table_name) AS column_count,
    (SELECT reltuples::bigint FROM pg_class WHERE relname = t.table_name)                AS row_count
FROM (VALUES ('features_hist'), ('features_futr'), ('features_stat')) AS t(table_name);
""")

with engine.begin() as con:
    df_info = pd.read_sql(q, con)
df_info

      table_name  column_count  row_count
0  features_hist            67      27217
1  features_futr            42      27217
2  features_stat            16         -1

## origin

In [16]:
%%bash
export PGHOST=localhost PGPORT=5432 PGDATABASE=postgres PGUSER=postgres PGPASSWORD=z
psql -c "\dt+"             # テーブル一覧
psql -c "\d+ public.nf_loto_final"   # 列の詳細

Pager is used for long output.
Line style is unicode.
Border style is 2.
Timing is on.
Expanded display is used automatically.
                                         List of relations
┌────────┬───────────────┬───────┬──────────┬─────────────┬───────────────┬─────────┬─────────────┐
│ Schema │     Name      │ Type  │  Owner   │ Persistence │ Access method │  Size   │ Description │
├────────┼───────────────┼───────┼──────────┼─────────────┼───────────────┼─────────┼─────────────┤
│ public │ features_futr │ table │ postgres │ permanent   │ heap          │ 15 MB   │             │
│ public │ features_hist │ table │ postgres │ permanent   │ heap          │ 30 MB   │             │
│ public │ features_stat │ table │ postgres │ permanent   │ heap          │ 0 bytes │             │
│ public │ nf_loto_final │ table │ postgres │ permanent   │ heap          │ 5104 kB │             │
└────────┴───────────────┴───────┴──────────┴─────────────┴───────────────┴─────────┴─────────────┘
(4 rows)

Pager is used for long output.
Line style is unicode.
Border style is 2.
Timing is on.
Expanded display is used automatically.
                                                   Table "public.nf_loto_final"
┌───────────┬─────────────────────────────┬───────────┬──────────┬─────────┬──────────┬─────────────┬──────────────┬─────────────┐
│  Column   │            Type             │ Collation │ Nullable │ Default │ Storage  │ Compression │ Stats target │ Description │
├───────────┼─────────────────────────────┼───────────┼──────────┼─────────┼──────────┼─────────────┼──────────────┼─────────────┤
│ loto      │ text                        │           │ not null │         │ extended │             │              │             │
│ num       │ bigint                      │           │ not null │         │ plain    │             │              │             │
│ ds        │ timestamp without time zone │           │ not null │         │ plain    │             │              │             │
│ unique_id │ text                        │           │ not null │         │ extended │             │              │             │
│ y         │ bigint                      │           │ not null │         │ plain    │             │              │             │
│ co        │ bigint                      │           │ not null │         │ plain    │             │              │             │
│ n1nu      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n1pm      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n2nu      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n2pm      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n3nu      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n3pm      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n4nu      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n4pm      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n5nu      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n5pm      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n6nu      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n6pm      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n7nu      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n7pm      │ bigint                      │           │          │         │ plain    │             │              │             │
└───────────┴─────────────────────────────┴───────────┴──────────┴─────────┴──────────┴─────────────┴──────────────┴─────────────┘
Indexes:
    "nf_loto_final_pkey" PRIMARY KEY, btree (loto, num, unique_id)
    "idx_nf_loto_final_ds" btree (ds)
    "idx_nf_loto_final_loto_ds" btree (loto, ds)
    "idx_nf_loto_final_loto_num" btree (loto, num)
Access method: heap

In [14]:
# 接続ユーティリティ（YAMLの形を自動判別 & PG環境変数フォールバック）
import os, yaml, psycopg2
from pathlib import Path

def load_pg_params(yaml_path="config/db_config.yaml"):
    raw = {}
    p = Path(yaml_path)
    if p.exists():
        with p.open("r", encoding="utf-8") as f:
            raw = yaml.safe_load(f) or {}

    # 候補: postgres / db / database / pg / 直下フラット
    candidates = []
    for k in ("postgres", "db", "database", "pg"):
        v = raw.get(k)
        if isinstance(v, dict):
            candidates.append(v)
    if not candidates and any(k in raw for k in ("host","port","database","dbname","user","password")):
        candidates.append(raw)

    cfg = candidates[0] if candidates else {}

    host = cfg.get("host") or os.getenv("PGHOST", "localhost")
    port = int(cfg.get("port") or os.getenv("PGPORT", "5432"))
    dbname = cfg.get("database") or cfg.get("dbname") or os.getenv("PGDATABASE", "postgres")
    user = cfg.get("user") or os.getenv("PGUSER", "postgres")
    password = cfg.get("password") or os.getenv("PGPASSWORD", "")

    params = dict(host=host, port=port, dbname=dbname, user=user, password=password)
    # デバッグ用に何を使ったか表示
    print("PG params ->", {k: (v if k!="password" else "******") for k,v in params.items()})
    return params

pg = load_pg_params()          # config/db_config.yaml を読んで接続情報組み立て
conn = psycopg2.connect(**pg)  # ここで接続
print("connected:", pg["host"], pg["dbname"], pg["user"])

PG params -> {'host': 'localhost', 'port': 5432, 'dbname': 'postgres', 'user': 'postgres', 'password': '******'}
connected: localhost postgres postgres

In [28]:
# === nf_loto_final の健全性チェック一式 ===
import pandas as pd

SCHEMA = "public"
TABLE  = "nf_loto_final"

def q(sql, params=None):
    return pd.read_sql_query(sql, con=conn, params=params)

# 1) 列一覧（型・NULL可・順序）
cols = q("""
SELECT column_name, data_type, is_nullable, ordinal_position
FROM information_schema.columns
WHERE table_schema=%s AND table_name=%s
ORDER BY ordinal_position
""", (SCHEMA, TABLE))
display(cols)

# 2) 件数
display(q(f"SELECT COUNT(*) AS row_count FROM {SCHEMA}.{TABLE}"))

# 3) ds があれば期間（最小・最大）
has_ds = (cols["column_name"] == "ds").any()
if has_ds:
    display(q(f"SELECT MIN(ds) AS min_ds, MAX(ds) AS max_ds FROM {SCHEMA}.{TABLE}"))

# 4) 先頭サンプル（ds があれば日付順）
order = "ORDER BY ds" if has_ds else ""
display(q(f"SELECT * FROM {SCHEMA}.{TABLE} {order} LIMIT 5"))

# 5) loto の件数分布
has_loto = (cols["column_name"] == "loto").any()
if has_loto:
    display(q(f"""
        SELECT loto, COUNT(*) AS n
        FROM {SCHEMA}.{TABLE}
        GROUP BY 1
        ORDER BY n DESC, loto
    """))

# 6) loto×unique_id の一意数（シリーズ数の把握）
has_uid = (cols["column_name"] == "unique_id").any()
if has_loto and has_uid:
    display(q(f"""
        SELECT loto, COUNT(DISTINCT unique_id) AS n_unique_series
        FROM {SCHEMA}.{TABLE}
        GROUP BY 1
        ORDER BY loto
    """))

# 7) 主キー重複チェック（loto, unique_id, ds が揃っている場合）
key_cols = {"loto","unique_id","ds"}
if key_cols.issubset(set(cols["column_name"])):
    dup = q(f"""
        SELECT loto, unique_id, ds, COUNT(*) AS dup_cnt
        FROM {SCHEMA}.{TABLE}
        GROUP BY 1,2,3
        HAVING COUNT(*) > 1
        ORDER BY dup_cnt DESC, loto, unique_id, ds
        LIMIT 50
    """)
    print(f"[dup count rows] {len(dup)}")
    display(dup)

# 8) 代表カラムの欠損数（存在するものだけ集計）
check_targets = [c for c in ("ds","y","loto","unique_id") if c in set(cols["column_name"])]
if check_targets:
    expr = ", ".join([f"SUM(({c} IS NULL)::int) AS null_{c}" for c in check_targets])
    display(q(f"SELECT {expr} FROM {SCHEMA}.{TABLE}"))

# 9) y の値域（あれば）
if "y" in set(cols["column_name"]):
    display(q(f"SELECT MIN(y) AS min_y, MAX(y) AS max_y, AVG(y) AS avg_y FROM {SCHEMA}.{TABLE}"))

# 10) 任意：日付×loto の件数（欠測日識別のヒント）
if has_ds and has_loto:
    display(q(f"""
        SELECT loto, DATE_TRUNC('month', ds)::date AS month, COUNT(*) AS n
        FROM {SCHEMA}.{TABLE}
        GROUP BY 1,2
        ORDER BY 1,2
        LIMIT 200
    """))

# 11) loto×unique_id ごとのレコード数（dsがあれば期間も併記）
if has_loto and has_uid:
    if has_ds:
        series_counts = q(f"""
            SELECT
                loto,
                unique_id,
                COUNT(*)                   AS n_rows,
                MIN(ds)                    AS min_ds,
                MAX(ds)                    AS max_ds
            FROM {SCHEMA}.{TABLE}
            GROUP BY 1,2
            ORDER BY loto, unique_id
        """)
    else:
        series_counts = q(f"""
            SELECT
                loto,
                unique_id,
                COUNT(*) AS n_rows
            FROM {SCHEMA}.{TABLE}
            GROUP BY 1,2
            ORDER BY loto, unique_id
        """)
    display(series_counts)

    # 見やすいように、各loto内で件数の多い順も一緒に確認
    if "n_rows" in series_counts.columns:
        display(series_counts.sort_values(["loto","n_rows","unique_id"], ascending=[True, False, True]).head(50))

# 12) 補助: loto内のシリーズ件数とレコード数の分布（min/median/avg/max）
if has_loto and has_uid:
    series_stats = q(f"""
        WITH s AS (
            SELECT loto, unique_id, COUNT(*)::bigint AS n_rows
            FROM {SCHEMA}.{TABLE}
            GROUP BY 1,2
        )
        SELECT
            loto,
            COUNT(*)                                 AS n_series,
            SUM(n_rows)                              AS total_rows,
            MIN(n_rows)                              AS min_rows,
            PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY n_rows) AS p50_rows,
            AVG(n_rows)::numeric(20,2)               AS avg_rows,
            MAX(n_rows)                              AS max_rows
        FROM s
        GROUP BY loto
        ORDER BY loto
    """)
    display(series_stats)

   column_name                    data_type is_nullable  ordinal_position
0         loto                         text          NO                 1
1          num                       bigint          NO                 2
2           ds  timestamp without time zone          NO                 3
3    unique_id                         text          NO                 4
4            y                       bigint          NO                 5
5           co                       bigint          NO                 6
6         n1nu                       bigint         YES                 7
7         n1pm                       bigint         YES                 8
8         n2nu                       bigint         YES                 9
9         n2pm                       bigint         YES                10
10        n3nu                       bigint         YES                11
11        n3pm                       bigint         YES                12
12        n4nu                       bigint         YES                13
13        n4pm                       bigint         YES                14
14        n5nu                       bigint         YES                15
15        n5pm                       bigint         YES                16
16        n6nu                       bigint         YES                17
17        n6pm                       bigint         YES                18
18        n7nu                       bigint         YES                19
19        n7pm                       bigint         YES                20

   row_count
0      27217

      min_ds     max_ds
0 1999-04-13 2025-11-12

,loto,num,ds,unique_id,y,co,n1nu,n1pm,n2nu,n2pm,n3nu,n3pm,n4nu,n4pm,n5nu,n5pm,n6nu,n6pm,n7nu,n7pm
0,mini,1,1999-04-13,N1,1,0,29,6090500,46,275800,2331,9400,59593,900,0,0,0,0,0,0
1,mini,1,1999-04-13,N2,3,0,29,6090500,46,275800,2331,9400,59593,900,0,0,0,0,0,0
2,mini,1,1999-04-13,N3,17,0,29,6090500,46,275800,2331,9400,59593,900,0,0,0,0,0,0
3,mini,1,1999-04-13,N4,20,0,29,6090500,46,275800,2331,9400,59593,900,0,0,0,0,0,0
4,mini,1,1999-04-13,N5,25,0,29,6090500,46,275800,2331,9400,59593,900,0,0,0,0,0,0

     loto      n
0   loto6  12300
1    mini   6800
2   loto7   4557
3  bingo5   3560

     loto  n_unique_series
0  bingo5                8
1   loto6                6
2   loto7                7
3    mini                5

[dup count rows] 0

Empty DataFrame
Columns: [loto, unique_id, ds, dup_cnt]
Index: []

   null_ds  null_y  null_loto  null_unique_id
0        0       0          0               0

   min_y  max_y      avg_y
0      1     43  19.887864

       loto       month   n
0    bingo5  2017-04-01  32
1    bingo5  2017-05-01  40
2    bingo5  2017-06-01  32
3    bingo5  2017-07-01  32
4    bingo5  2017-08-01  40
..      ...         ...  ..
195   loto6  2008-05-01  30
196   loto6  2008-06-01  24
197   loto6  2008-07-01  30
198   loto6  2008-08-01  24
199   loto6  2008-09-01  24

[200 rows x 3 columns]

      loto unique_id  n_rows     min_ds     max_ds
0   bingo5        N1     445 2017-04-05 2025-11-12
1   bingo5        N2     445 2017-04-05 2025-11-12
2   bingo5        N3     445 2017-04-05 2025-11-12
3   bingo5        N4     445 2017-04-05 2025-11-12
4   bingo5        N5     445 2017-04-05 2025-11-12
5   bingo5        N6     445 2017-04-05 2025-11-12
6   bingo5        N7     445 2017-04-05 2025-11-12
7   bingo5        N8     445 2017-04-05 2025-11-12
8    loto6        N1    2050 2000-10-05 2025-11-10
9    loto6        N2    2050 2000-10-05 2025-11-10
10   loto6        N3    2050 2000-10-05 2025-11-10
11   loto6        N4    2050 2000-10-05 2025-11-10
12   loto6        N5    2050 2000-10-05 2025-11-10
13   loto6        N6    2050 2000-10-05 2025-11-10
14   loto7        N1     651 2013-04-05 2025-11-07
15   loto7        N2     651 2013-04-05 2025-11-07
16   loto7        N3     651 2013-04-05 2025-11-07
17   loto7        N4     651 2013-04-05 2025-11-07
18   loto7        N5     651 2013-04-05 2025-11-07
19   loto7        N6     651 2013-04-05 2025-11-07
20   loto7        N7     651 2013-04-05 2025-11-07
21    mini        N1    1360 1999-04-13 2025-11-11
22    mini        N2    1360 1999-04-13 2025-11-11
23    mini        N3    1360 1999-04-13 2025-11-11
24    mini        N4    1360 1999-04-13 2025-11-11
25    mini        N5    1360 1999-04-13 2025-11-11

      loto unique_id  n_rows     min_ds     max_ds
0   bingo5        N1     445 2017-04-05 2025-11-12
1   bingo5        N2     445 2017-04-05 2025-11-12
2   bingo5        N3     445 2017-04-05 2025-11-12
3   bingo5        N4     445 2017-04-05 2025-11-12
4   bingo5        N5     445 2017-04-05 2025-11-12
5   bingo5        N6     445 2017-04-05 2025-11-12
6   bingo5        N7     445 2017-04-05 2025-11-12
7   bingo5        N8     445 2017-04-05 2025-11-12
8    loto6        N1    2050 2000-10-05 2025-11-10
9    loto6        N2    2050 2000-10-05 2025-11-10
10   loto6        N3    2050 2000-10-05 2025-11-10
11   loto6        N4    2050 2000-10-05 2025-11-10
12   loto6        N5    2050 2000-10-05 2025-11-10
13   loto6        N6    2050 2000-10-05 2025-11-10
14   loto7        N1     651 2013-04-05 2025-11-07
15   loto7        N2     651 2013-04-05 2025-11-07
16   loto7        N3     651 2013-04-05 2025-11-07
17   loto7        N4     651 2013-04-05 2025-11-07
18   loto7        N5     651 2013-04-05 2025-11-07
19   loto7        N6     651 2013-04-05 2025-11-07
20   loto7        N7     651 2013-04-05 2025-11-07
21    mini        N1    1360 1999-04-13 2025-11-11
22    mini        N2    1360 1999-04-13 2025-11-11
23    mini        N3    1360 1999-04-13 2025-11-11
24    mini        N4    1360 1999-04-13 2025-11-11
25    mini        N5    1360 1999-04-13 2025-11-11

     loto  n_series  total_rows  min_rows  p50_rows  avg_rows  max_rows
0  bingo5         8      3560.0       445     445.0     445.0       445
1   loto6         6     12300.0      2050    2050.0    2050.0      2050
2   loto7         7      4557.0       651     651.0     651.0       651
3    mini         5      6800.0      1360    1360.0    1360.0      1360

In [18]:
%%bash
# 列一覧
psql -c "\d+ public.nf_loto_final"

# 件数・期間
psql -c "SELECT COUNT(*) FROM public.nf_loto_final;"
psql -c "SELECT MIN(ds), MAX(ds) FROM public.nf_loto_final;"

# 主キー重複
psql -c "SELECT loto, unique_id, ds, COUNT(*) FROM public.nf_loto_final GROUP BY 1,2,3 HAVING COUNT(*)>1 LIMIT 50;"

Pager is used for long output.
Line style is unicode.
Border style is 2.
Timing is on.
Expanded display is used automatically.
                                                   Table "public.nf_loto_final"
┌───────────┬─────────────────────────────┬───────────┬──────────┬─────────┬──────────┬─────────────┬──────────────┬─────────────┐
│  Column   │            Type             │ Collation │ Nullable │ Default │ Storage  │ Compression │ Stats target │ Description │
├───────────┼─────────────────────────────┼───────────┼──────────┼─────────┼──────────┼─────────────┼──────────────┼─────────────┤
│ loto      │ text                        │           │ not null │         │ extended │             │              │             │
│ num       │ bigint                      │           │ not null │         │ plain    │             │              │             │
│ ds        │ timestamp without time zone │           │ not null │         │ plain    │             │              │             │
│ unique_id │ text                        │           │ not null │         │ extended │             │              │             │
│ y         │ bigint                      │           │ not null │         │ plain    │             │              │             │
│ co        │ bigint                      │           │ not null │         │ plain    │             │              │             │
│ n1nu      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n1pm      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n2nu      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n2pm      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n3nu      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n3pm      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n4nu      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n4pm      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n5nu      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n5pm      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n6nu      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n6pm      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n7nu      │ bigint                      │           │          │         │ plain    │             │              │             │
│ n7pm      │ bigint                      │           │          │         │ plain    │             │              │             │
└───────────┴─────────────────────────────┴───────────┴──────────┴─────────┴──────────┴─────────────┴──────────────┴─────────────┘
Indexes:
    "nf_loto_final_pkey" PRIMARY KEY, btree (loto, num, unique_id)
    "idx_nf_loto_final_ds" btree (ds)
    "idx_nf_loto_final_loto_ds" btree (loto, ds)
    "idx_nf_loto_final_loto_num" btree (loto, num)
Access method: heap

Pager is used for long output.
Line style is unicode.
Border style is 2.
Timing is on.
Expanded display is used automatically.
┌───────┐
│ count │
├───────┤
│ 27217 │
└───────┘
(1 row)

Time: 1.276 ms
Pager is used for long output.
Line style is unicode.
Border style is 2.
Timing is on.
Expanded display is used automatically.
┌─────────────────────┬─────────────────────┐
│         min         │         max         │
├─────────────────────┼─────────────────────┤
│ 1999-04-13 00:00:00 │ 2025-11-12 00:00:00 │
└─────────────────────┴─────────────────────┘
(1 row)

Time: 0.739 ms
Pager is used for long output.
Line style is unicode.
Border style is 2.
Timing is on.
Expanded display is used automatically.
┌──────┬───────────┬────┬───────┐
│ loto │ unique_id │ ds │ count │
├──────┼───────────┼────┼───────┤
└──────┴───────────┴────┴───────┘
(0 rows)

Time: 10.058 ms

## 5) 各テーブルの先頭表示（上位5行）

In [5]:
def head_sql(name: str, limit: int = 5):
    with engine.begin() as con:
        return pd.read_sql(text(f'SELECT * FROM {name} ORDER BY 1,2,3 NULLS LAST LIMIT {limit}'), con)

for t in tables:
    print(f"\n### {t} (head)")
    display(head_sql(t, 5))

### features_hist (head)

,loto,unique_id,ds,hist_y_lag1,hist_y_lag2,hist_y_lag3,hist_y_lag7,hist_y_lag14,hist_y_lag21,hist_y_lag28,...,hist_y_roll_max_w90,hist_y_roll_median_w90,hist_y_roll_q25_w90,hist_y_roll_q75_w90,created_at,updated_at,hist_y_diff1,hist_y_diff7,hist_y_pct_change1,hist_y_pct_change7
0,bingo5,N1,2017-04-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,2025-11-12 23:25:05.364557,2025-11-12 23:30:25.514218,NaN,NaN,NaN,NaN
1,bingo5,N1,2017-04-12,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,2025-11-12 23:25:05.364557,2025-11-12 23:30:25.514218,0.0,NaN,0.0,NaN
2,bingo5,N1,2017-04-19,1.0,1.0,NaN,NaN,NaN,NaN,NaN,...,4.0,1.0,1.0,2.5,2025-11-12 23:25:05.364557,2025-11-12 23:30:25.514218,3.0,NaN,3.0,NaN
3,bingo5,N1,2017-04-26,4.0,1.0,1.0,NaN,NaN,NaN,NaN,...,4.0,1.5,1.0,2.5,2025-11-12 23:25:05.364557,2025-11-12 23:30:25.514218,-2.0,NaN,-0.5,NaN
4,bingo5,N1,2017-05-03,2.0,4.0,1.0,NaN,NaN,NaN,NaN,...,5.0,2.0,1.0,4.0,2025-11-12 23:25:05.364557,2025-11-12 23:30:25.514218,3.0,NaN,1.5,NaN

### features_futr (head)

,loto,unique_id,ds,futr_ds_year,futr_ds_quarter,futr_ds_month,futr_ds_week_of_year,futr_ds_day_of_month,futr_ds_day_of_year,futr_ds_day_of_week,...,futr_p30_k2_cos,futr_p365_k1_sin,futr_p365_k1_cos,futr_p365_k2_sin,futr_p365_k2_cos,futr_is_holiday,futr_days_since_holiday,futr_days_until_holiday,created_at,updated_at
0,bingo5,N1,2017-04-05,2017,2,4,14,5,95,2,...,1.000000,0.000000,1.000000,0.000000,1.000000,False,16,24,2025-11-12 23:30:42.722035,2025-11-12 23:30:42.722035
1,bingo5,N1,2017-04-12,2017,2,4,15,12,102,2,...,0.915978,0.017202,0.999852,0.034398,0.999408,False,23,17,2025-11-12 23:30:42.722035,2025-11-12 23:30:42.722035
2,bingo5,N1,2017-04-19,2017,2,4,16,19,109,2,...,0.678031,0.034398,0.999408,0.068755,0.997634,False,30,10,2025-11-12 23:30:42.722035,2025-11-12 23:30:42.722035
3,bingo5,N1,2017-04-26,2017,2,4,17,26,116,2,...,0.326144,0.051584,0.998669,0.103031,0.994678,False,37,3,2025-11-12 23:30:42.722035,2025-11-12 23:30:42.722035
4,bingo5,N1,2017-05-03,2017,2,5,18,3,123,2,...,-0.080549,0.068755,0.997634,0.137185,0.990545,True,4,1,2025-11-12 23:30:42.722035,2025-11-12 23:30:42.722035

### features_stat (head)

Empty DataFrame
Columns: [loto, unique_id, stat_y_global_mean, stat_y_global_std, stat_y_global_min, stat_y_global_max, stat_y_global_range, stat_y_global_cv, stat_y_global_skewness, stat_y_global_kurtosis, stat_series_length, stat_series_start_date, stat_series_end_date, stat_series_frequency_days, created_at, updated_at]
Index: []

## 6) 簡易品質チェック（重複・欠損）

In [6]:
# 重複（主キー相当: loto, unique_id, ds）
dup_sql = text("""
SELECT COUNT(*) AS dup_count
FROM (
  SELECT loto, unique_id, ds, COUNT(*) 
  FROM features_hist 
  GROUP BY 1,2,3 
  HAVING COUNT(*) > 1
) t;
""")
# 欠損（代表2項目）
null_sql = text("""
SELECT 
  SUM((hist_y_lag1 IS NULL)::int) AS null_lag1,
  SUM((hist_y_roll_mean_w7 IS NULL)::int) AS null_mean7
FROM features_hist;
""")

with engine.begin() as con:
    dup = pd.read_sql(dup_sql, con)
    miss = pd.read_sql(null_sql, con)
print("[features_hist duplicates]")
display(dup)
print("[features_hist nulls]")
display(miss)

[features_hist duplicates]

   dup_count
0          0

[features_hist nulls]

   null_lag1  null_mean7
0          0           0

## 7) 特徴量生成スクリプトの実行（必要に応じて）
すでに生成済みならスキップ可能です。ログはセル出力に流れます。

In [7]:
import subprocess, sys

cmd = [sys.executable, str(PROJECT_ROOT / "scripts" / "generate_features_simple.py")]
print("Run:", " ".join(cmd))
proc = subprocess.run(cmd, cwd=str(PROJECT_ROOT), text=True, capture_output=True)

print("=== STDOUT ===")
print(proc.stdout[:20000])  # 長すぎる場合は先頭だけ表示
print("=== STDERR ===")
print(proc.stderr[:20000])

if proc.returncode == 0:
    print("✅ スクリプト実行に成功しました。")
else:
    print("❌ スクリプト実行に失敗しました（returncode=", proc.returncode, "）")

Run: /home/az/miniconda3/envs/nc/bin/python /mnt/e/env/ts/loto_feature_system_v2/scripts/generate_features_simple.py
=== STDOUT ===

=== STDERR ===
2025-11-12 23:48:03,844 - __main__ - INFO - === 宝くじ時系列特徴量生成 ===

2025-11-12 23:48:03,845 - __main__ - INFO - データ読み込み中...
2025-11-12 23:48:03,850 - core.data_loader - INFO - CPU モード
2025-11-12 23:48:03,850 - core.data_loader - INFO - クエリ実行: SELECT * FROM nf_loto_final ORDER BY loto, unique_id, ds...
2025-11-12 23:48:03,954 - core.data_loader - INFO - 読み込み完了: 27217行
2025-11-12 23:48:03,959 - core.data_loader - INFO - 26系列を読み込み完了
2025-11-12 23:48:03,960 - __main__ - INFO - 読み込み完了: 26系列

2025-11-12 23:48:03,960 - __main__ - INFO - パイプライン初期化中...
2025-11-12 23:48:03,960 - pipelines.base_pipeline - INFO - BasicStatsPipeline パイプライン初期化
2025-11-12 23:48:03,960 - pipelines.base_pipeline - INFO - CalendarFeaturesPipeline パイプライン初期化
2025-11-12 23:48:03,960 - __main__ - INFO - パイプライン数: 2

2025-11-12 23:48:03,960 - __main__ - INFO - 特徴量生成中...

系列処理:   0%|          | 0/26 [00:00<?, ?it/s]2025-11-12 23:48:03,964 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:03,972 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:03,973 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:04,176 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:04,177 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:   4%|▍         | 1/26 [00:00<00:05,  4.67it/s]2025-11-12 23:48:04,178 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:04,184 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:04,185 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:04,257 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:04,258 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}
2025-11-12 23:48:04,258 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:04,265 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:04,266 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:04,337 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:04,338 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  12%|█▏        | 3/26 [00:00<00:02,  8.69it/s]2025-11-12 23:48:04,338 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:04,345 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:04,345 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:04,417 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:04,418 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}
2025-11-12 23:48:04,418 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:04,424 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:04,425 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:04,496 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:04,497 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  19%|█▉        | 5/26 [00:00<00:02, 10.35it/s]2025-11-12 23:48:04,497 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:04,503 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:04,504 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:04,576 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:04,577 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}
2025-11-12 23:48:04,577 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:04,584 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:04,584 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:04,657 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:04,658 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  27%|██▋       | 7/26 [00:00<00:01, 11.12it/s]2025-11-12 23:48:04,658 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:04,665 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:04,666 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:04,737 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:04,738 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}
2025-11-12 23:48:04,738 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:04,751 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:04,752 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:05,365 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:05,367 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  35%|███▍      | 9/26 [00:01<00:03,  5.27it/s]2025-11-12 23:48:05,367 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:05,380 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:05,381 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:05,699 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:05,701 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  38%|███▊      | 10/26 [00:01<00:03,  4.54it/s]2025-11-12 23:48:05,702 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:05,714 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:05,715 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:06,039 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:06,041 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  42%|████▏     | 11/26 [00:02<00:03,  4.03it/s]2025-11-12 23:48:06,041 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:06,053 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:06,055 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:06,379 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:06,380 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  46%|████▌     | 12/26 [00:02<00:03,  3.69it/s]2025-11-12 23:48:06,380 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:06,392 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:06,394 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:06,713 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:06,714 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  50%|█████     | 13/26 [00:02<00:03,  3.48it/s]2025-11-12 23:48:06,715 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:06,727 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:06,728 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:07,055 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:07,056 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  54%|█████▍    | 14/26 [00:03<00:03,  3.31it/s]2025-11-12 23:48:07,057 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:07,065 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:07,066 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:07,174 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:07,176 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  58%|█████▊    | 15/26 [00:03<00:02,  3.98it/s]2025-11-12 23:48:07,177 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:07,184 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:07,185 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:07,289 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:07,290 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  62%|██████▏   | 16/26 [00:03<00:02,  4.72it/s]2025-11-12 23:48:07,290 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:07,297 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:07,298 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:07,403 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:07,404 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  65%|██████▌   | 17/26 [00:03<00:01,  5.45it/s]2025-11-12 23:48:07,404 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:07,412 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:07,413 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:07,517 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:07,518 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  69%|██████▉   | 18/26 [00:03<00:01,  6.13it/s]2025-11-12 23:48:07,519 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:07,526 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:07,527 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:07,631 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:07,632 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  73%|███████▎  | 19/26 [00:03<00:01,  6.73it/s]2025-11-12 23:48:07,632 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:07,639 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:07,640 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:07,744 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:07,745 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  77%|███████▋  | 20/26 [00:03<00:00,  7.25it/s]2025-11-12 23:48:07,745 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:07,752 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:07,753 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:07,858 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:07,859 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  81%|████████  | 21/26 [00:03<00:00,  7.63it/s]2025-11-12 23:48:07,860 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:07,870 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:07,871 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:08,107 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:08,109 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  85%|████████▍ | 22/26 [00:04<00:00,  6.01it/s]2025-11-12 23:48:08,109 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:08,119 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:08,120 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始
2025-11-12 23:48:08,333 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 38個の特徴量を生成
2025-11-12 23:48:08,335 - __main__ - INFO - Fourier列のリネーム: {'futr_p30_44_k1_sin': 'futr_p30_k1_sin', 'futr_p30_44_k1_cos': 'futr_p30_k1_cos', 'futr_p30_44_k2_sin': 'futr_p30_k2_sin', 'futr_p30_44_k2_cos': 'futr_p30_k2_cos', 'futr_p365_25_k1_sin': 'futr_p365_k1_sin', 'futr_p365_25_k1_cos': 'futr_p365_k1_cos', 'futr_p365_25_k2_sin': 'futr_p365_k2_sin', 'futr_p365_25_k2_cos': 'futr_p365_k2_cos'}

系列処理:  88%|████████▊ | 23/26 [00:04<00:00,  5.43it/s]2025-11-12 23:48:08,335 - pipelines.basic_stats - INFO - BasicStatsPipeline: 特徴量生成開始
2025-11-12 23:48:08,344 - pipelines.basic_stats - INFO - BasicStatsPipeline: 63個の特徴量を生成
2025-11-12 23:48:08,346 - pipelines.calendar_features - INFO - CalendarFeaturesPipeline: 特徴量生成開始

## 8) 実行後の再点検（行数・サンプル）

In [8]:
from sqlalchemy import text

def exact_count(table):
    with engine.begin() as con:
        return pd.read_sql(text(f"SELECT COUNT(*) AS row_count_exact FROM {table};"), con)["row_count_exact"].iloc[0]

re_df = pd.DataFrame({
    "table_name": tables,
    "column_count": [pd.read_sql(text(f"SELECT COUNT(*) AS c FROM information_schema.columns WHERE table_name='{t}';"), engine)["c"].iloc[0] for t in tables],
    "row_count_exact": [exact_count(t) for t in tables]
})
re_df

      table_name  column_count  row_count_exact
0  features_hist            67            27217
1  features_futr            42            27217
2  features_stat            16                0

## 9) サンプルエクスポート（CSV）

In [ ]:
export_dir = PROJECT_ROOT / "exports"
export_dir.mkdir(exist_ok=True)
sample = head_sql("features_hist", 100)
out_path = export_dir / "features_hist_sample.csv"
sample.to_csv(out_path, index=False)
out_path

## 付録) `.pgpass` を使った無言ログイン（任意）
- ファイル: `~/.pgpass`
- パーミッション: `chmod 600 ~/.pgpass`
- 記述例:  
  `localhost:5432:postgres:postgres:<PASSWORD>`

## 2) 系列独立性の検証（hist系）

In [20]:
SCHEMA = "public"

# 日付をランダムにひとつ拾って、同一loto内で unique_idごとの値がバラけるか確認
sample = q(f"""
    WITH any_ds AS (
      SELECT loto, ds
      FROM {SCHEMA}.features_hist
      GROUP BY 1,2
      HAVING COUNT(*) >= 2  -- 同日で複数unique_idがあるところ
      ORDER BY RANDOM()
      LIMIT 1
    )
    SELECT h.loto, h.ds, h.unique_id, h.hist_y_roll_mean_w7
    FROM {SCHEMA}.features_hist h
    JOIN any_ds a USING (loto, ds)
    ORDER BY unique_id
""")
display(sample)
print("distinct count:", sample["hist_y_roll_mean_w7"].nunique())

    loto          ds unique_id  hist_y_roll_mean_w7
0  loto6  2015-01-22        N1             6.857143
1  loto6  2015-01-22        N2            12.142857
2  loto6  2015-01-22        N3            21.571429
3  loto6  2015-01-22        N4            27.000000
4  loto6  2015-01-22        N5            32.428571
5  loto6  2015-01-22        N6            38.428571

distinct count: 6

## 3) カレンダー/Fourier系（futr）が系列に依らず同一か確認

In [21]:
# 同じ ds かつ同じ loto で、futrの代表列がunique_idに依らず1値になるか
futr_chk = q(f"""
    WITH any_ds AS (
      SELECT loto, ds
      FROM {SCHEMA}.features_futr
      GROUP BY 1,2
      HAVING COUNT(*) >= 2
      ORDER BY RANDOM()
      LIMIT 1
    )
    SELECT f.loto, f.ds,
           COUNT(DISTINCT futr_ds_month) AS ndist_month,
           COUNT(DISTINCT futr_ds_day_of_week) AS ndist_dow
    FROM {SCHEMA}.features_futr f
    JOIN any_ds a USING (loto, ds)
    GROUP BY 1,2
""")
display(futr_chk)

    loto          ds  ndist_month  ndist_dow
0  loto6  2006-08-03            1          1

## 4) 手計算の移動平均とDB格納値の一致確認（リーケージ検知）

In [24]:
# 対象シリーズを1つ選ぶ（必要なら別のloto/unique_idに変更）
loto0, uid0 = "mini", "N1"

# 元データ（dsをtimestampへ明示キャスト）
orig = q(f"""
    SELECT loto, unique_id, ds::timestamp without time zone AS ds, y
    FROM {SCHEMA}.nf_loto_final
    WHERE loto=%s AND unique_id=%s
    ORDER BY ds
""", (loto0, uid0))

# 手計算の7ポイント移動平均（同列）
orig["roll7_manual"] = orig["y"].rolling(window=7, min_periods=1).mean()

# 特徴量（dsをtimestampへ明示キャスト）
feat = q(f"""
    SELECT loto, unique_id, ds::timestamp without time zone AS ds, hist_y_roll_mean_w7
    FROM {SCHEMA}.features_hist
    WHERE loto=%s AND unique_id=%s
    ORDER BY ds
""", (loto0, uid0))

# 念のための二重保険（tzが付いた場合なども吸収）
for df in (orig, feat):
    df["ds"] = pd.to_datetime(df["ds"], errors="coerce")
    if pd.api.types.is_datetime64tz_dtype(df["ds"]):
        df["ds"] = df["ds"].dt.tz_localize(None)

# マージと検証
chk = orig.merge(feat, on=["loto","unique_id","ds"], how="left", validate="one_to_one")
chk["abs_diff"] = (chk["roll7_manual"] - chk["hist_y_roll_mean_w7"]).abs()

print("mismatches(>1e-9):", int((chk["abs_diff"] > 1e-9).sum()))
display(chk.head(15))

mismatches(>1e-9): 0

    loto unique_id         ds   y  roll7_manual  hist_y_roll_mean_w7  abs_diff
0   mini        N1 1999-04-13   1      1.000000             1.000000       0.0
1   mini        N1 1999-04-27   2      1.500000             1.500000       0.0
2   mini        N1 1999-05-11   1      1.333333             1.333333       0.0
3   mini        N1 1999-05-25  11      3.750000             3.750000       0.0
4   mini        N1 1999-06-08   8      4.600000             4.600000       0.0
5   mini        N1 1999-06-22   2      4.166667             4.166667       0.0
6   mini        N1 1999-07-06   3      4.000000             4.000000       0.0
7   mini        N1 1999-07-20  22      7.000000             7.000000       0.0
8   mini        N1 1999-08-03   2      7.000000             7.000000       0.0
9   mini        N1 1999-08-17   8      8.000000             8.000000       0.0
10  mini        N1 1999-08-31  17      8.857143             8.857143       0.0
11  mini        N1 1999-09-14   5      8.428571             8.428571       0.0
12  mini        N1 1999-09-28   6      9.000000             9.000000       0.0
13  mini        N1 1999-10-05   2      8.857143             8.857143       0.0
14  mini        N1 1999-10-12   6      6.571429             6.571429       0.0

## 5) 「最適」のラフ検証：シリーズ別・特徴量ランキング（相関）

In [27]:
# 対象シリーズ（必要なら変更）
loto0, uid0 = "mini", "N1"

# 1) SQLは素直にそのまま取得（キャストしない・*でもOK）
X = q(f"""
    SELECT *
    FROM {SCHEMA}.features_hist AS f
    WHERE f.loto=%s AND f.unique_id=%s
    ORDER BY f.ds
""", (loto0, uid0))

y = q(f"""
    SELECT ds, y
    FROM {SCHEMA}.nf_loto_final AS t
    WHERE t.loto=%s AND t.unique_id=%s
    ORDER BY t.ds
""", (loto0, uid0))

# 2) 両方の ds をPandasで厳密に正規化
for df in (X, y):
    df["ds"] = pd.to_datetime(df["ds"], errors="coerce")  # object→datetime64[ns]
    if pd.api.types.is_datetime64tz_dtype(df["ds"]):
        df["ds"] = df["ds"].dt.tz_localize(None)         # もしtz付きなら外す
    df["ds"] = df["ds"].dt.floor("D")                    # 日次に丸めて揃える

# 3) 安全チェック（重複があれば例外）
assert not X.duplicated(subset=["ds"]).any(), "features_hist 側で ds 重複があります"
assert not y.duplicated(subset=["ds"]).any(), "nf_loto_final 側で ds 重複があります"

# 4) マージ（日時型一致済みなのでエラーにならない）
df = X.merge(y, on="ds", how="inner", validate="one_to_one")

# 5) 相関を計算（監査列など除外）
drop_cols = {"loto","unique_id","ds","created_at","updated_at"}
num_cols = [c for c in df.columns if c not in drop_cols and pd.api.types.is_numeric_dtype(df[c])]
if "y" in num_cols:
    num_cols.remove("y")

corr = []
for c in num_cols:
    s = df[[c, "y"]].dropna()
    if len(s) >= 10:
        rho = s[c].corr(s["y"], method="spearman")
        corr.append((c, rho))

rank = pd.DataFrame(corr, columns=["feature","spearman_r"]).sort_values("spearman_r", ascending=False)

print(f"行数（X）={len(X):,}, 行数（y）={len(y):,}, マージ後={len(df):,}")
print("dtype(X['ds'])=", X['ds'].dtype, " / dtype(y['ds'])=", y['ds'].dtype)
display(rank.head(15))
display(rank.tail(15))

行数（X）=1,360, 行数（y）=1,360, マージ後=1,360
dtype(X['ds'])= datetime64[ns]  / dtype(y['ds'])= datetime64[ns]

                  feature  spearman_r
60     hist_y_pct_change1    0.694493
61     hist_y_pct_change7    0.681889
58           hist_y_diff1    0.673057
59           hist_y_diff7    0.659179
9     hist_y_roll_mean_w3    0.556303
14     hist_y_roll_q25_w3    0.534721
15     hist_y_roll_q75_w3    0.526275
13  hist_y_roll_median_w3    0.512093
12     hist_y_roll_max_w3    0.452014
11     hist_y_roll_min_w3    0.413785
16    hist_y_roll_mean_w7    0.356734
22     hist_y_roll_q75_w7    0.312865
20  hist_y_roll_median_w7    0.308098
21     hist_y_roll_q25_w7    0.307149
10     hist_y_roll_std_w3    0.284810

                feature  spearman_r
32  hist_y_roll_min_w21    0.055485
7          hist_y_lag30    0.051307
47  hist_y_roll_max_w60    0.051255
52  hist_y_roll_std_w90    0.042937
5          hist_y_lag21    0.030922
54  hist_y_roll_max_w90    0.028975
3           hist_y_lag7    0.021857
6          hist_y_lag28    0.014512
2           hist_y_lag3    0.009207
0           hist_y_lag1    0.005344
4          hist_y_lag14   -0.000373
1           hist_y_lag2   -0.001849
8          hist_y_lag60   -0.002225
46  hist_y_roll_min_w60         NaN
53  hist_y_roll_min_w90         NaN

### 方針の使い分け（超要約）

* 木系（LightGBM/XGB）：**NaNのままでもOK**。無理に埋めないのが安定。必要なら「列ごとのNaN率が高すぎる列だけ削除」。
* 線形/NN：**先頭の不完全区間を落とす**＋最低限の埋め（diff/pct の先頭だけ0、残りは“過去のみ”で拡張中央値など）。
* 列削除の閾値例：**NaN率 > 0.20（2割）なら列ドロップ**。<=0.20 は残す（行側の最小限ドロップ/埋めで対応）。

### 使い方の指針

* **木系モデル**：`df_trim → drop_cols_by_nan_ratio → zero_fill_edge_diffs` までで十分。LightGBM にそのまま投げてOK。
* **線形/NN**：上に加えて `fill_with_past_median` を有効化して **NaNゼロ化**。この埋め方は**“現在時点より過去の情報だけ”**で計算するためリークしません。
* **2割ルール**：`max_nan_ratio=0.20` を上げ下げして感度を確認。短窓（w3,w7）は残りやすく、長窓（w60,w90）は series 序盤のNaNが多いので列ドロップ対象になりがちです。

### ちょい実務メモ

* 0埋めは **diff/pct の先頭だけ**に限定（意味が明確だから）。rolling 系を0埋めすると分布が崩れがち。
* “過去のみ埋め” は時系列交差検証でも安全。最初の1点だけ残NaNなら、その行を落とすのが最も簡単。
* 予測フェーズでも同じ前処理を**学習時と同じロジックで**適用してください（特に列ドロップとトリム条件）。

このブロックをベースに、各 loto で `max_nan_ratio` と `ESSENTIAL_REGEX` を少し触るだけで運用できます。次は、この前処理の前後でスコアがどう動くか（木系 vs 線形）を A/B で見てみるのが建設的です。

In [30]:
# === features_hist と nf_loto_final を安全にマージするための ds 正規化 ===
import pandas as pd
import numpy as np

KEYS = ["loto","unique_id","ds"]

# 1) 読み込み（既存の q(), SCHEMA を利用）
X = q(f"SELECT * FROM {SCHEMA}.features_hist")
y = q(f"SELECT loto, unique_id, ds, y FROM {SCHEMA}.nf_loto_final")

# 2) ds を datetime64[ns] に統一（タイムゾーンなし、失敗は NaT）
for _df in (X, y):
    _df["ds"] = pd.to_datetime(_df["ds"], utc=False, errors="coerce")
    # 万一 tz 付きなら外す
    if pd.api.types.is_datetime64tz_dtype(_df["ds"]):
        _df["ds"] = _df["ds"].dt.tz_convert(None)

# 3) 変換に失敗したレコード（NaT）を除外（必要ならログだけにして残してもOK）
bad_X = X["ds"].isna().sum()
bad_y = y["ds"].isna().sum()
print(f"ds 変換失敗: features_hist={bad_X}, nf_loto_final={bad_y}")
if bad_X:
    X = X.loc[X["ds"].notna()].copy()
if bad_y:
    y = y.loc[y["ds"].notna()].copy()

# 4) キーの dtype を完全一致させる（念のため）
for k in ("loto","unique_id"):
    X[k] = X[k].astype(str)
    y[k] = y[k].astype(str)

# 5) マージ
df = (X.merge(y, on=KEYS, how="inner")
        .sort_values(KEYS)
        .reset_index(drop=True))

print(f"行数（X）={len(X):,}, 行数（y）={len(y):,}, マージ後={len(df):,}")
print(f"dtype(X['ds'])= {X['ds'].dtype}  / dtype(y['ds'])= {y['ds'].dtype}")

ds 変換失敗: features_hist=0, nf_loto_final=0
行数（X）=27,217, 行数（y）=27,217, マージ後=27,217
dtype(X['ds'])= datetime64[ns]  / dtype(y['ds'])= datetime64[ns]

## 1) NaN の扱い（3 方針をコード化）

In [32]:
import numpy as np
import pandas as pd

KEYS = ["loto","unique_id","ds"]

# マージ済み df を想定（df には y と hist_* が入っている）
# df = X.merge(y, on=KEYS, how="inner").sort_values(KEYS).reset_index(drop=True)

# --- A) 先頭の不完全区間をシリーズごとに捨てる -----------------------------
# 対象列（学習で使う予定の説明変数）を定義
feature_cols = [c for c in df.columns if c.startswith("hist_")]
audit_cols   = {"created_at","updated_at"}
feature_cols = [c for c in feature_cols if c not in audit_cols]

def trim_incomplete_leading_block(g: pd.DataFrame) -> pd.DataFrame:
    # 先頭から見て、すべての feature_cols が非NaNになる最初の行の直前までを落とす
    mask_ok = ~g[feature_cols].isna().any(axis=1)
    if not mask_ok.any():
        # 1 行も完全でない場合は空返し
        return g.iloc[0:0]
    first_ok = mask_ok.idxmax()  # 最初に True になる行の index
    return g.loc[first_ok:].copy()

df_trimmed = (
    df.sort_values(KEYS)
      .groupby(["loto","unique_id"], group_keys=False)
      .apply(trim_incomplete_leading_block)
      .reset_index(drop=True)
)

print(f"[trim] before={len(df):,}  after={len(df_trimmed):,}")

# --- B) NaN 率で列ドロップ（全体で 20% 例） --------------------------------
nan_rate = df_trimmed[feature_cols].isna().mean().sort_values(ascending=False)
drop_by_rate = nan_rate[nan_rate > 0.20].index.tolist()  # 20% 超
keep_cols = [c for c in feature_cols if c not in drop_by_rate]
print(f"[drop by NaN-rate] drop={len(drop_by_rate)} cols  keep={len(keep_cols)} cols")

df_dropcols = df_trimmed[KEYS + keep_cols + ["y"]].copy()

# --- C) 必要最小限の埋め（diff/pct_change 先頭のみ） -------------------------
def minimal_fill(g: pd.DataFrame) -> pd.DataFrame:
    g = g.sort_values("ds").copy()
    # diff 系: 最初の行だけ 0 埋め（系列の「初回は差が定義できない」扱い）
    diff_cols = [c for c in g.columns if c.startswith("hist_y_diff")]
    for c in diff_cols:
        if c in g.columns and pd.isna(g.iloc[0][c]):
            g.iat[0, g.columns.get_loc(c)] = 0.0

    # pct_change 系: 分母 0 問題は特徴生成時点で対策済み想定。
    # 念のため NaN を 0 埋め（=変化率不定は「変化なし」と近似）
    pct_cols = [c for c in g.columns if c.startswith("hist_y_pct_change")]
    for c in pct_cols:
        g[c] = g[c].fillna(0.0)

    return g

df_ready = (
    df_dropcols.groupby(["loto","unique_id"], group_keys=False)
               .apply(minimal_fill)
               .reset_index(drop=True)
)

print(f"[ready] rows={len(df_ready):,}, cols={df_ready.shape[1]}")

[trim] before=27,217  after=25,657
[drop by NaN-rate] drop=0 cols  keep=62 cols
[ready] rows=25,657, cols=66

## 2) シリーズ（loto×unique_id）ごとの「最適特徴」を選ぶ（相関上位を抽出）

In [34]:
def rank_features_by_series(g: pd.DataFrame, topk=15) -> pd.DataFrame:
    feats = [c for c in g.columns if c.startswith("hist_")]
    feats = [c for c in feats if c not in ("created_at","updated_at")]
    out = []
    for c in feats:
        s = g[[c, "y"]].dropna()
        if len(s) >= 10:
            rho = s[c].corr(s["y"], method="spearman")
            out.append((c, rho))
    res = pd.DataFrame(out, columns=["feature","spearman_r"]).sort_values("spearman_r", ascending=False)
    return res.head(topk)

# 例：各シリーズの上位 10 個をまとめて表示用に収集
tops = []
for (l, u), g in df_ready.groupby(["loto","unique_id"]):
    r = rank_features_by_series(g, topk=10)
    r.insert(0, "loto", l)
    r.insert(1, "unique_id", u)
    tops.append(r)
tops_df = pd.concat(tops, ignore_index=True)

# シリーズ別上位特徴
display(tops_df.head(30))

# 参考：全シリーズでの「採用頻度」上位（安定して効く候補）
stable = (tops_df.groupby("feature")
                  .size()
                  .sort_values(ascending=False)
                  .rename("appear_in_series"))
display(stable.head(20))

      loto unique_id                feature  spearman_r
0   bingo5        N1           hist_y_diff1    0.684283
1   bingo5        N1           hist_y_diff7    0.667722
2   bingo5        N1     hist_y_pct_change1    0.652055
3   bingo5        N1     hist_y_pct_change7    0.638068
4   bingo5        N1    hist_y_roll_mean_w3    0.550445
5   bingo5        N1     hist_y_roll_q25_w3    0.516100
6   bingo5        N1     hist_y_roll_q75_w3    0.513455
7   bingo5        N1  hist_y_roll_median_w3    0.474905
8   bingo5        N1     hist_y_roll_min_w3    0.430413
9   bingo5        N1     hist_y_roll_max_w3    0.423066
10  bingo5        N2           hist_y_diff1    0.726805
11  bingo5        N2     hist_y_pct_change1    0.721419
12  bingo5        N2           hist_y_diff7    0.702010
13  bingo5        N2     hist_y_pct_change7    0.699341
14  bingo5        N2    hist_y_roll_mean_w3    0.536498
15  bingo5        N2     hist_y_roll_q25_w3    0.504235
16  bingo5        N2     hist_y_roll_q75_w3    0.503070
17  bingo5        N2  hist_y_roll_median_w3    0.463304
18  bingo5        N2     hist_y_roll_min_w3    0.405385
19  bingo5        N2     hist_y_roll_max_w3    0.385071
20  bingo5        N3     hist_y_pct_change1    0.705257
21  bingo5        N3           hist_y_diff7    0.703943
22  bingo5        N3           hist_y_diff1    0.701877
23  bingo5        N3     hist_y_pct_change7    0.682558
24  bingo5        N3    hist_y_roll_mean_w3    0.575359
25  bingo5        N3     hist_y_roll_q75_w3    0.542548
26  bingo5        N3     hist_y_roll_q25_w3    0.535870
27  bingo5        N3  hist_y_roll_median_w3    0.498776
28  bingo5        N3     hist_y_roll_min_w3    0.435205
29  bingo5        N3     hist_y_roll_max_w3    0.434904

feature
hist_y_diff1             26
hist_y_diff7             26
hist_y_pct_change1       26
hist_y_pct_change7       26
hist_y_roll_mean_w3      26
hist_y_roll_min_w3       26
hist_y_roll_median_w3    26
hist_y_roll_q25_w3       26
hist_y_roll_q75_w3       26
hist_y_roll_max_w3       25
hist_y_roll_mean_w7       1
Name: appear_in_series, dtype: int64